@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: auto; /* Vẫn có thể cuộn */
  scrollbar-width: none; /* Ẩn trên Firefox */
  font-family: "Quicksand", sans-serif;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Ẩn trên Chrome, Safari */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
